<h3>Product Details</h3>
<table border="1">
    <tr>
        <td>Id</td>
        <td>{{product.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{product.name}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{product.price}}</td>
    </tr>
    <tr>
        <td valign="top">Photo</td>
        <td>
            <img src="assets/images/{{product.photo}}" width="120" height="100">
        </td>
    </tr>
    <tr>
        <td>Category Id</td>
        <td>{{product.category.id}}</td>
    </tr>
    <tr>
        <td>Category Name</td>
        <td>{{product.category.name}}</td>
    </tr>
</table>